html {
  font-family: Georgia, "Times New Roman", serif;
}

h1 {
  font-family: "Brush Script MT", Script;
  font-weight: lighter;
  font-size: 3.5em;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1.5em;
}

img#profile-pic {
  position:fixed;
  right:50px;
  top:30px;
  width: 15%;
  border-radius: 50%;
}

.topnav {
  background-color: steelblue;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 125%;
}

.topnav a:hover {
  background-color: aliceblue;
  color: steelblue;
}

.topnav a.active {
  background-color: lightsteelblue;
  color: steelblue;
}

div {
  width: 100%;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.photos img {
  width: 25%;
}

.info th,td {
  width: 25%;
  padding: 5px 10px;
  vertical-align: top;
}

footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background-image: linear-gradient(0deg,lightsteelblue,white);
}

footer p {
  float: right;
  padding: 0px 15px;
}
